@{
    ViewData["Title"] = "Home Page";
}

<script src="https://api-maps.yandex.ru/2.1/?apikey=d0ba2a48-bad8-4046-9bf3-f24827d1f680&lang=ru_RU" type="text/javascript"></script>
<div id="map" style=" width: 100%; height: 80vh;"></div>


<script src="~/js/YandexMap.js"></script>